body {
    width: 500px;
    height: 100px;
    font: 1em sans-serif;
    padding: 0;
    margin: 0 auto;
    text-align: center;
            
  }
  
  form.active {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgba(213, 5, 255, 0.5);
    margin-top: -20px;
    margin-bottom: 40px;
    color: white
  }

  form.hidden {
    display: none;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgba(213, 5, 255, 0.5);
    margin-top: -20px;
    margin-bottom: 40px;
    color: white

  }
  
  p * {
    display: inline-flexbox;
    text-align: left;
    color: #ffffff;
    font-size:large;
    
  }
  
  input#mail {
    appearance: none;
    width: 250px;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
    color: black;
  }

  input#name {
    appearance: none;
    width: 250px;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
    color: black;
  }
  
  
  input#mail.invalid {
    border-color: orangered;
    background-color: #fdd;
  }
  
  input#name.invalid {
    border-color: orangered;
    background-color: #fdd;

  }
  input:focus.invalid {
    outline: none;
  }
  
  
  .error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: orangered;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: inline-block;
  }
  
  .error.active {
    padding: 0.3em;
  }